<div class="container">
    <div class="h3">
        Oops, looks like you're not authorized to view this page.
    </div>
    <div class="mt-2">
        Would you prefet to <a asp-controller="Home" asp-action="Logout"> log in as someone else </a>?
    </div>
</div>